{
  "versionCode": 2,
  "versionName": "1.1.1",
  "downloadUrl": "https://github.com/fvgfgtxdeujv/DumpCS-Filter/releases/download/v1.1.1/app-release.apk",
  "changelog": "- 新增自动更新功能\n- 修复已知问题",
  "forceUpdate": false
}
